# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/47b2d2d1dd176559021fb4f54c8ee300
build/app
build/cloud_firestore
build/firebase_auth
build/firebase_core
build/firebase_storage
build/flutter_assets
build/flutter_plugin_android_lifecycle
build/image_picker_android
build/kotlin
build/windows
build/204ea416f1812abf3cc545dddda97605.cache.dill.track.dill

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
